
<nav class="navbar navbar-expand-md bg-info navbar-dark container-fluid">
  <!-- Brand -->
 

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Article</a>
      </li>

      <li class="nav-item">
        <a class="nav-link btn" id="clearAll-articles">Clear Articles</a>
      </li>
    </ul>
  </div>
</nav> 
<div class="jumbotron">
    
</div>
<div class="articles text-center">
    <h1>Articles Saved</h1>
</div>
{{#if articles}}
{{#each articles}}

<div class="card mb-3 mt-2 container">
    <div class="card-header bg-info">
        <h5>{{this.title}}</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <p>{{this._id}}</p>
            </div>
            <div class="col-8 text-center">
                <p>text</p>
            </div>
        </div>
                 
        <div class="row ">
            <a href="https://www.cnn.com{{this.link}}" type="button" class="btn btn-secondary" target="_blank">Read Article</a>
            <button class="btn btn-secondary"  id="return-article" data-id="{{this._id}}">Back to Articles Page</button>
            <a class="btn btn-secondary" id="deleteArticle" href="/delete/{{this._id}}">Delete Article</a>
           <button type="button" class="btn btn-secondary mr-2" id="make-note" data-id="{{this._id}}">Type your note</button>
          
        </div>
    </div>
</div>

<div class="modal" id="modal-note">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
                    <h5 class="modal-title">Make a Note</h5>
                                     
                     <button type="button" class="close" id="close-modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div class="container-fluid">
                <h5>Previous Note:</h5>
                <div class="row">
                    <br>
                    <div id="Addnote"></div>
                </div>
            </div>
            <form > 
                <div class="form-group">
                    <label for="note">Type your Note Here</label>
                            <textarea class="form-control" id="note" rows="2"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="save-note" data-id="{{this._id}}">Save Note</button>
                    <button type="button" class="btn btn-secondary" id="close-modal" >Close</button>
                </div>
                    
                </form>
        </div>
      </div>
    </div>
  </div>
  
</div>



{{/each}}

{{else}}
<div class="container">
    <div class="alert bg-info text-center">
        <h4>Uh Oh. Looks like we don't have any articles.</h4>
    </div>
    
</div

{{/if}}

